<header
  style='width: 100% display: flex; align-items: center; justify-content: center; margin-bottom: 40px; text-align: center; gap: 10px;'
>
  <img src='{{logoPath}}' alt='Dojo System Logo' style='width: 200px;' />

  <div
    style='width: 100% display: flex; align-items: center; justify-content: center; gap: 20px; flex-direction: column; font-family: Arial, sans-serif;'
  >
    <h1 style="font-size: 24px;">{{title}}</h1>
    <p style="font-size: 14px;">Data de emissão: {{date}} - {{time}}</p>
  </div>
</header>